# MariaDB
MYSQL_ROOT_PASSWORD=your_secure_root_password_here
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_admin
MYSQL_PASSWORD=your_secure_password_here
WORDPRESS_TABLE_PREFIX=wp_

# Domain
DOMAIN=example.com
